/* FIX USED */
* {box-sizing: border-box;}

body{
    margin: 0;
    font-family: Roboto;
    background-color: white;
}

.container{
    padding: 20px 40px;
    display: grid;
    display: -webkit-grid;    
}

/* HEADER */
.header{
    overflow: hidden;
    background-color: #0072ff;
    padding: 10px 40px;


}

.header a{
    float: left;
    color: white;
    padding: 8px;
}


.header a img.logo{
    max-height: 50px;
}



/* PRODUCT */
.product{
    /* display: flex; */
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    /* overflow: hidden; */
    width: 100%;
}

.scroll{
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    
    
}

.card-pack{
    width: max-content;
}

#left{
    display:flex;
    z-index: 998;
    left: 20px;
    align-items: center;
}

#right{
    display:flex;
    z-index: 998;
    right: 20px;
    align-items: center;
}

.card{
    float: inline-start;
    margin: 10px;
    width: 182px;
    border-radius: 20px;
    /* border-style:ridge; */
    box-shadow: 0px 4px 8px  rgba(0,0,0,0.2);
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 140px;
    padding: 10px;
    background-color:lightgrey;
    object-fit: contain;
}

.card .product-title{
    margin: 5px 10px;
    font-size: medium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* white-space: normal; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .product-price{
    margin: 5px 10px;
    color: #ff7f00;
    overflow: hidden;
    font-size:medium;
}

.card .product-disc{
    /* float: inline-start; */
    margin: 0 10px;
    overflow: hidden;
}

.card .product-disc h5{
    margin: 0;
    color: lightgrey;
}

.card .product-disc span{
    margin: 5px;
    background-color: lightcoral;
    color:crimson;
    padding: 3px 5px; 
    text-align: center;
    border-radius: 10px;
}

.card .add-button{
    margin: 10px;
    display: block;
    text-decoration: none;
}

.card .add-button button{
    display: block;
    width: 100%;
    background-color: #0072ff;
    color: white;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: Roboto;
}


/* Layout */
/* Block Layout */
.block-1{
    margin: 10px 0 ;
    display: grid;
    float: left;
    width: 49%;
    padding: 10%;
    font-size: x-large;
    font-weight: bold;
    background-color: yellow;
    color: black;
    /* position: relative; */
    text-align: center;
    /* justify-content: center; */
}

.block-2{
    margin: 10px 0 ;
    display: grid;
    float: right;
    width: 49%;
    padding: 10%;
    font-size: x-large;
    font-weight: bold;
    background-color: cyan;
    color: black;
    /* position: relative; */
    text-align: center;
    /* justify-content: center; */
}

.block-3{
    margin: 10px 0;
    display: grid;
    float: none;
    width: 100%;
    padding: 10%;
    font-size: x-large;
    font-weight: bold;
    background-color: plum;
    color: black;
    text-align: center;
}

.block-4{
    margin: 10px 0;
    display: grid;
    float: none;
    width: 100%;
    padding: 10%;
    font-size: x-large;
    font-weight: bold;
    background-color: lightcoral;
    color: black;
    text-align: center;
}


/* Footer */
.footer{
    margin-top: 20px;
    padding-top: 40px;
    background-color: lightgray;
    display: inline-block;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p{
    text-align: justify;
    font-size: small;
}

.expand{
    text-decoration: none;
    font-size: medium;
    color: #0072ff;
}


/* Top Button */
.topbutton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border-radius: 100%;
    /* border-color: none; */
    background-color: white;
    color: #0072ff;
    padding: 20px 30px;
    font-size: 30px;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media screen and (max-width:768px){
    div#block-a{order: 4;}
    div#block-b{order: 2;}
    div#block-c{order: 1;}
    div#block-d{order: 3;}
    .container{
        padding: 0 20px;
    }

    .header{
        text-align: center;
        padding: none;
    }
    .header a{
        float: none;
        display: block;
    }

    .header a img.logo{
        max-height: 40px;
        float: none;
    }

    card{
        width: 132px;
        border-radius: 10px;
    }
    
    .card img{
        height: 140px;
    }

    .card .product-title{
        font-size: small;
    }
    
    .card .product-price{
        font-size: small;
    }

    .card .product-disc{
        font-size: smaller;
    }

    .card .add-button button{
        border-radius: 10px;
        padding: 8px;
    }

    .footer h3{
        font-size: medium;
    }

    .topbutton{
        font-size: 20px;
        padding: 23px 30px;
        bottom: 30px;
    }

    
}